DM_COMMAND_TABLE_DB_PATH=/var/lib/dm-command-table/dm-command-table.sqlite
DM_COMMAND_TABLE_UPLOAD_PATH=/var/lib/dm-command-table/uploads
DM_COMMAND_TABLE_SECURE_COOKIES=false
NODE_ENV=production
PORT=3000
